.add-training-text {
  color: var(--text-primary);
  margin: 240px 20px 0px 20px;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  font-stretch: var(--font-stretch);
}

.bold {
  color: var(--text-primary);
  font-size: 22px;
  font-weight: 600;
  word-break: break-all;
}
