.bottom-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background-secondary);
  box-shadow: rgba(149, 157, 165, 0.1) 0px 10px 18px;
  z-index: 1;
  border-top: 1px solid var(--border-primary);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transform: translateY(0);
  transition: transform 0.2s ease;
}

.closed {
  transform: translateY(100%);
  padding: 0;
}

.btn-add {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.btn-add::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border-radius: 50%;
  background: var(--hover-circle);
  z-index: -1;
}
