.bottom-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background-secondary);
  box-shadow: var(--box-shadow-top);
  z-index: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: opacity 0.15s ease-out;
  border: 1px solid var(--border-primary);
  opacity: 1;
}

.closed {
  opacity: 0;
  padding: 0;
  pointer-events: none;
}

.input-btn-container {
  width: min(450px, 92%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-top-container {
  padding: 8px 0;
  border-bottom: 0.8px solid var(--border-primary);
}

#bottom-bar-headline {
  font-weight: 600;
  font-size: 16px;
}

.input-bottom-container {
  height: 28px;
  margin-top: 24px;
}

.btn-info {
  display: flex;
  align-items: center;
}

.btn-cancel {
  color: var(--text-primary);
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.btn-confirm {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.btn-confirm::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 50%;
  border: 0.8px solid var(--border-secondary);
  z-index: -1;
}
