#bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--bottom-bar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--border-secondary);
  padding: 0 18px;
  padding-bottom: 38px;
  padding-top: 10px;
  background: var(--background-transparent);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  z-index: 3;
}

#bottom-bar button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  color: var(--cta);
}

.btn-disabled {
  color: var(--cta-disabled) !important;
  cursor: default;
}

@media (min-width: 460px) {
  #bottom-bar {
    width: min(500px, 95%);
    padding: 14px 30px;
  }
}
