.btns {
  width: min(800px, 97%);
  height: 125px;
  position: fixed;
  bottom: 35px;
  padding-right: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btn-round {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: rgb(72, 76, 89);
  border-radius: 50%;
}

.top {
  margin-bottom: 16px;
}

@media (min-width: 560px) {
  .btn-round {
    width: 90px;
    border-radius: 32px;
  }
}
