.btns {
  /* width: min(800px, 97%); */
  height: 125px;
  position: fixed;
  right: 0;
  bottom: 36px;
  padding-right: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btn-round {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: rgb(72, 76, 89);
  border-radius: 50%;
}

.top {
  margin-bottom: 16px;
}

@media (min-width: 560px) {
  .btns {
    width: min(800px, 97%);
    right: auto;
    pointer-events: none;
  }

  .btn-round {
    pointer-events: auto;
    width: 90px;
    border-radius: 32px;
  }
}
