.calendar {
  display: flex;
  justify-content: center;
  color: var(--text-primary);
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 32px;
  margin-right: 4px;
  background: var(--background-tertiary);
}
