.deletion-confirmation-layer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.dialog {
  width: min(450px, 97%);
  height: 250px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    45deg,
    rgba(30, 30, 37, 0.9),
    rgba(19, 19, 21, 0.9)
  );

  border: 1px solid var(--border);
  border-radius: var(--border-radius);
}

.dialog-text {
  font-size: 20px;
  margin-bottom: 24px;
}

.dialog-btn {
  border: 1px solid var(--border);
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.02);
  width: 220px;
  padding: 16px;
}
