.dialog {
  width: min(330px, 85%);
  height: 260px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-secondary);
  box-shadow: var(--shadow-small);
  border-radius: var(--border-radius);
}

.dialog-text {
  font-size: 20px;
  margin-bottom: 32px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 160px;
}

.button-container button {
  color: var(--text-primary);
}
