.deletion-confirmation-layer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.dialog {
  width: 95%;
  height: 30vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
}

.dialog-text {
  font-size: 18px;
  color: #000;
}

.dialog-btn {
  width: 240px;
  padding: 16px;
}
