.exercise-row {
  color: var(--text-primary);
  display: grid;
  align-items: center;
  grid-template-columns: 33% 20% 30% 17%;
  border-bottom: 0.8px solid var(--border-secondary);
}

.row {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  overflow-wrap: anywhere;
}

.last-row {
  border-bottom: none;
}

#exercise {
  margin-right: 12px;
}

#weight {
  margin-right: var(--row-margin);
}

#repetitions {
  margin-right: var(--row-margin);
  margin-left: 16px;
}

#change {
  text-align: right;
  white-space: nowrap;
}

.change {
  font-size: 13px;
  border: 1px solid;
  width: fit-content;
  border-radius: 16px;
  padding: 5px 5px 4px 5px;
}

#equal {
  padding: 5px 6px 4px 6px;
  color: var(--color-equal);
  border-color: var(--border-equal);
  background-color: var(--background-equal);
}

#progress {
  color: var(--color-progress);
  border-color: var(--border-progress);
  background-color: var(--background-progress);
}

#regress {
  color: var(--color-regress);
  border-color: var(--border-regress);
  background-color: var(--background-regress);
}

.searched-exercise-name {
  color: var(--color-highlight-secondary) !important;
}
