.exercise-row {
  display: grid;
  align-items: center;
  grid-template-columns: 33% 20% 30% 17%;
  border-bottom: 0.5px solid var(--border-secondary);
}

.row {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  overflow-wrap: anywhere;
}

.last-row {
  border-bottom: none;
}

#exercise {
  margin-right: 12px;
}

#weight {
  margin-right: var(--row-margin);
}

#repetitions {
  margin-right: var(--row-margin);
  margin-left: 16px;
}

#change {
  text-align: right;
  white-space: nowrap;
}

.change {
  width: fit-content;
  border-radius: 16px;
  padding: 5px 5px 4px 5px;
}

.zero {
  color: var(--color-even);
  background-color: var(--background-even);
  padding: 5px 6px 4px 6px;
}

.positive {
  color: var(--color-progress);
  background-color: var(--background-progress);
}

.negative {
  color: var(--color-regress);
  background-color: var(--background-regress);
}

.searched-exercise-name {
  color: var(--color-progress) !important;
}
