.training-format-explanation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 34%;
}

.format-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.format-box {
  border: 1.5px solid var(--border-primary);
  border-radius: 12px;
  padding: 8px 16px;
  display: inline;
}

.training-info {
  font-size: 20px;
  letter-spacing: 2px;
}

.description {
  color: var(--text-off);

  text-align: center;
}

.training-format-explanation .label {
  font-weight: 500;
}

.exercise-label {
  margin-bottom: 10px;
}

.exercise-name-explanation {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 58px;
  left: 0;
}

.reps-explanation {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 48px;
  left: 130px;
}

.weight-explanation {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 58px;
  left: 32px;
  width: 150px;
}

.extra-set-explanation {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 58px;
  left: 200px;
}

.margin-top {
  margin-top: 10px;
}
