.hamburger {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: var(--text);
  margin: 3.5px 0;
  transition: transform 0.2s ease;
}

.hamburger.active .bar1 {
  transform: translateY(4.25px) rotate(-45deg);
}

.hamburger.active .bar2 {
  transform: translateY(-4.25px) rotate(45deg);
}

.cta-section {
  display: flex;
  align-items: center;
}
