.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-transparent);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  z-index: 2;
}

.header.opaque {
  background: var(--background-primary);
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: min(450px, 95%);
  padding: 8px 4px 8px 0px;
}

.heading {
  color: var(--text-primary);
  display: flex;
  align-items: center;
  font-size: 19px;
  font-weight: 700;
  font-stretch: 110%;
}

hr {
  display: block;
  height: 0.5px;
  border: none;
  width: min(450px, 95%);
  background: var(--border-primary);
}

.search-bar-container {
  position: fixed;
  top: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  background: var(--background-transparent);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
}

.search-bar-container input {
  margin: 8px 0;
}

.menu {
  height: calc(100dvh - var(--header-height));
  position: fixed;
  top: var(--header-height);
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--background-primary);
  overflow: hidden;
  transform: translateY(calc(-100% - var(--header-height)));
  transition: transform 0.3s ease;
  z-index: 1;
}

.menu ul {
  flex-direction: column;
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 30dvh;
  width: min(450px, 95%);
}

.menu li {
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
}

.menu li a {
  text-decoration: none;
}

.menu li button {
  display: flex;
  align-items: center;
}

.menu-list-item-text {
  color: var(--text-primary);
  font-size: 28px;
  font-weight: 500;
}

.menu-active {
  transform: translateY(0);
}

.social {
  position: fixed;
  bottom: 36px;
}

@media (min-width: 560px) {
  hr {
    width: 100%;
  }

  .header-container {
    width: 100%;
    padding: 8px 8px;
  }
}
