@font-face {
  font-family: "Mona Sans";
  src: url("Mona-Sans.woff2") format("woff2 supports variations"),
    url("Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

* {
  --text-off: #787878;
  --font-stretch: 110%;
  --border-radius: 16px;
  --header-height: 48.5px;
  --color-progress: #66a1f8;
  --background-progress: rgba(102, 161, 248, 0.25);

  padding: 0;
  margin: 0;
  font-family: "Mona Sans", sans-serif;
  font-weight: 250;
  font-size: 15px;
}

/* THEMES */
.dark {
  --background-primary: #07090f;
  --background-secondary: #141419;
  --background-tertiary: #2e3038;
  --background-transparent: rgba(7, 9, 15, 0.5);
  --background-muted: rgba(110, 118, 135, 0.3);
  --border-primary: rgb(40, 42, 50);
  --border-secondary: rgb(50, 52, 60);
  --border-training: rgb(30, 32, 40);
  --text-primary: #f7f8f8;
  --text-secondary: #e8e8e8;
  --text-tertiary: rgb(200, 200, 200);
  --cta: #ffffff;
  --cta-disabled: rgb(118, 123, 135);
  --hover-primary: 1.16;
  --hover-secondary: 1.25;
  --hover-circle: rgba(255, 255, 255, 0.1);
  --box-shadow-top: 0 16px 36px rgba(1, 4, 9, 0.85);
  --shadow-small: 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px -2px rgba(0, 0, 0, 0.1),
    0 5px 7px -5px rgba(0, 0, 0, 0.15);
  --color-highlight: #3673f5;
  --color-regress: rgba(230, 148, 3, 0.75);
  --background-regress: rgba(61, 37, 11, 0.8);
  --background-even: rgba(136, 136, 136, 0.25);
  --color-even: rgba(136, 136, 136, 0.9);
}

.light {
  --background-primary: #fafafe;
  --background-secondary: #fdfdff;
  --background-tertiary: #ececf6;
  --background-transparent: rgba(250, 250, 254, 0.5);
  --background-muted: rgba(175, 184, 193, 0.3);
  --border-primary: rgb(210, 210, 220);
  --border-secondary: rgb(230, 230, 235);
  --border-training: rgb(242, 242, 244);
  --text-primary: #000000;
  --text-secondary: #000000;
  --text-tertiary: rgb(20, 20, 20);
  --cta: #000000;
  --cta-disabled: rgb(200, 200, 219);
  --hover-primary: 0.98;
  --hover-secondary: 0.95;
  --hover-circle: rgba(0, 0, 0, 0.05);
  --box-shadow-top: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.19);
  --shadow-small: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  --color-highlight: #3673f5;
  --color-regress: rgba(230, 148, 3, 1);
  --background-regress: rgba(230, 148, 3, 0.25);
  --background-even: rgba(136, 136, 136, 0.13);
  --color-even: rgba(136, 136, 136, 0.7);
}

/* universal box sizing */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: var(--background-primary);
}

body {
  background: inherit;
}

button {
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.text-off {
  color: var(--text-off);
}

.hover:active {
  filter: brightness(var(--hover-primary));
  -webkit-filter: brightness(var(--hover-primary));
}

.circle-hover {
  position: relative;
}

.circle-hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 1px;
  bottom: 4.5px;
  background: var(--hover-circle);
  border-radius: 50%;
  transform: scale(0.5);
  transition: transform 0.1s, opacity 0.1s;
  pointer-events: none;
  opacity: 0;
}

.circle-hover:active::after {
  transform: scale(0.7);
  opacity: 1;
}

.circle-hover-large {
  position: relative;
}

.circle-hover-large::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 1px;
  bottom: 4.5px;
  background: var(--hover-circle);
  border-radius: 50%;
  transform: scale(0.5);
  transition: transform 0.15s, opacity 0.15s;
  pointer-events: none;
  opacity: 0;
}

.circle-hover-large:active::after {
  transform: scale(1.2);
  opacity: 1;
}

/* Hover styles for desktop/hover devices */
@media (hover: hover) {
  .hover:hover {
    filter: brightness(var(--hover-primary));
    -webkit-filter: brightness(var(--hover-primary));
  }

  .hover:active {
    filter: brightness(1);
    -webkit-filter: brightness(1);
  }

  .circle-hover:hover::after {
    transform: scale(0.7);
    opacity: 1;
  }

  .circle-hover:active::after {
    transform: scale(0.6);
    opacity: 1;
  }

  .circle-hover-large:hover::after,
  .circle-hover-large:active::after {
    transform: scale(1.2);
    opacity: 1;
  }

  .circle-hover-large:active::after {
    transform: scale(1.1);
    opacity: 1;
  }
}
