@font-face {
  font-family: "Mona Sans";
  src: url("Mona-Sans.woff2") format("woff2 supports variations"),
    url("Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

* {
  --font-size-date: 14px;
  --highlight: #3673f5;
  --border-radius: 8px;
  --shadow-extra-small: 0px 4px 8px rgba(0, 0, 0, 0.12);
  --shadow-smallest: 0 2px 6px rgb(0 0 0 / 5%);
  --header-height: 41px;
  --bottom-bar-height: 83px;

  padding: 0;
  margin: 0;
  font-family: "Mona Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

/* THEMES */
.dark {
  --background-primary: #07090f;
  --background-secondary: #1a1c24;
  --background-tertiary: #2e3038;
  --background-transparent: rgba(7, 9, 15, 0.8);
  --border-primary: #1a1c24;
  --border-secondary: #494d5a;
  --text-primary: #f7f8f8;
  --text-secondary: #e8e8e8;
  --text-tertiary: rgb(178, 183, 189);
  --cta: #ffffff;
  --cta-disabled: #767b81;
  --hover-primary: 1.16;
  --hover-secondary: 1.25;
  --hover-circle: rgba(255, 255, 255, 0.1);
}

.light {
  --background-primary: #eff0f4;
  --background-secondary: #ffffff;
  --background-tertiary: #f2f3f6;
  --background-transparent: rgba(239, 240, 244, 0.8);
  --border-primary: #ddddde;
  --border-secondary: #ddddde;
  --text-primary: #000000;
  --text-secondary: #000000;
  --text-tertiary: rgb(88, 93, 99);
  --cta: #000000;
  --cta-disabled: rgb(188, 193, 219);
  --hover-primary: 0.98;
  --hover-secondary: 0.95;
  --hover-circle: rgba(0, 0, 0, 0.05);
}

/* universal box sizing */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: var(--background-primary);
}

body {
  background: inherit;
}

button {
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.hover:active {
  filter: brightness(var(--hover-primary));
  -webkit-filter: brightness(var(--hover-primary));
}

.circle-hover {
  position: relative;
}

.circle-hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 1px;
  bottom: 4.5px;
  background: var(--hover-circle);
  border-radius: 50%;
  transform: scale(0.5);
  transition: transform 0.1s, opacity 0.1s;
  pointer-events: none;
  opacity: 0;
}

.circle-hover:active::after {
  transform: scale(0.7);
  opacity: 1;
}

.circle-hover-large {
  position: relative;
}

.circle-hover-large::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 1px;
  bottom: 4.5px;
  background: var(--hover-circle);
  border-radius: 50%;
  transform: scale(0.5);
  transition: transform 0.15s, opacity 0.15s;
  pointer-events: none;
  opacity: 0;
}

.circle-hover-large:active::after {
  transform: scale(1.2);
  opacity: 1;
}

/* Hover styles for desktop/hover devices */
@media (hover: hover) {
  .hover:hover {
    filter: brightness(var(--hover-primary));
    -webkit-filter: brightness(var(--hover-primary));
  }

  .hover:active {
    filter: brightness(1);
    -webkit-filter: brightness(1);
  }

  .circle-hover:hover::after {
    transform: scale(0.7);
    opacity: 1;
  }

  .circle-hover:active::after {
    transform: scale(0.6);
    opacity: 1;
  }

  .circle-hover-large:hover::after,
  .circle-hover-large:active::after {
    transform: scale(1.2);
    opacity: 1;
  }

  .circle-hover-large:active::after {
    transform: scale(1.1);
    opacity: 1;
  }
}
