@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap");

* {
  /* VARIABLES */
  /* colors */
  --background: rgb(9, 11, 19);
  --background-gradient: linear-gradient(45deg, #1a1c24, #15171f);
  --border: rgb(26, 28, 36);
  --text-1: #f7f8f8;
  --text-2: #e8e8e8;
  --text-3: #9ea3a9;
  --cta: #ffffff;
  --cta-disabled: #767b81;
  /* border */
  --border-radius: 8px;
  /* box shadwos */
  --shadow-extra-small: 0px 4px 8px rgba(0, 0, 0, 0.12);
  --shadow-smallest: 0 2px 6px rgb(0 0 0 / 5%);
  /* spacings */
  --header-height: 43px;
  /* closed heigth */
  --bottom-bar-height: 83px;

  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: var(--text-1);
}

/* universal box sizing */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background: var(--background);
}

button {
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
