.input-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background-secondary);
  box-shadow: var(--box-shadow-top);
  z-index: 4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: opacity 0.15s ease-out;
  border: 1.5px solid var(--border-primary);
  opacity: 1;
}

.closed {
  opacity: 0;
  padding: 0;
  pointer-events: none;
}

.input-btn-container {
  width: min(450px, 92%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.input-top-container {
  padding: 8px 0;
  border-bottom: 1px solid var(--border-secondary);
}

#input-section-headline {
  font-weight: 600;
  font-size: 16px;
}

.input-cta-bar {
  bottom: 0;
  position: absolute;
  transition: transform 0.5s cubic-bezier(0.38, 0.7, 0.125, 1);
}

.btn-info {
  display: flex;
  align-items: center;
  padding: 4px 4px 4px 1px;
}

.btn-cancel {
  color: var(--text);
  display: flex;
  align-items: center;
  border-radius: 50%;
}


