textarea {
  width: min(420px, 90%);
  height: 50px;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  outline: none;
  font-size: 16px;
  transition: 0.2s ease-in-out;
  margin-bottom: 20px;
  padding: 5px;
  box-shadow: var(--shadow-smallest);
  appearance: none;
  /* this is necessary to enable the box shadow on ios */
  -webkit-appearance: none;
}

textarea:focus {
  width: min(420px, 90%);
  height: 180px;
}

.buttons {
  display: flex;
  background: #fff;
}

#add {
  width: 330px;
  padding: 12px 0;
  border-radius: 25px;
}

#save {
  width: 157px;
  padding: 12px 0;
  margin-right: 16px;
  border-radius: 25px;
}

#cancel {
  width: 157px;
  padding: 12px 0;
  border-radius: 25px;
}
