.input-wrapper {
  position: relative;
  width: min(450px, 93%);
  margin-bottom: 18px;
  border-top: 0.5px solid var(--border-primary);
}

textarea {
  color: var(--text-primary);
  width: 100%;
  height: 50px;
  max-height: 180px;
  background: var(--background-secondary);
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 8px 0;
  resize: none;
}
