.input-wrapper {
  position: relative;
  width: min(450px, 92%);
}

.text-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--text-primary);
  background: var(--background-secondary);
}

#title-input {
  margin-top: 12px;
}

textarea {
  resize: none;
  height: 110px;
  margin-top: 22px;
  max-height: 175px;
  line-height: 1.25;
  color: var(--text-primary);
  background: var(--background-secondary);
}

.text-input::placeholder {
  color: var(--text-off);
}
