.layer {
  color: var(--text-primary);
  height: 100dvh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop-filter {
  top: var(--header-height);
  z-index: 99;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.muted-background {
  opacity: 0;
  transition: opacity 0.1s ease;
  z-index: 2;
}

.muted-background.dark {
  background-color: rgba(110, 118, 135, 0.23);
}

.muted-background.light {
  background-color: rgba(175, 184, 193, 0.3);
}

.muted-background.fade-in {
  opacity: 1;
}
