.layer {
  color: var(--text);
  height: 100dvh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop-filter {
  z-index: 2;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.muted-background {
  opacity: 0;
  background-color: var(--background-muted);
  transition: opacity 0.15s ease;
  z-index: 1;
}

.muted-background.fade-in {
  opacity: 1;
}
