.login-layer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(350px, 85%);
  height: 30%;
  border-radius: var(--border-radius);
  border: 1px solid var(--border);
  background: var(--background-gradient);
}

h2 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 35px;
}
