.menu {
  height: calc(100dvh - var(--header-height));
  position: fixed;
  top: var(--header-height);
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--background-transparent);
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease;
  z-index: 3;
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
}

.menu ul {
  flex-direction: column;
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 30dvh;
  width: min(450px, 95%);
}

.menu li {
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
}

.menu li a {
  text-decoration: none;
  cursor: pointer;
}

.menu li button {
  display: flex;
  align-items: center;
}

.menu-list-item {
  color: var(--text-primary);
  font-size: 20px;
  font-weight: 450;
  font-stretch: var(--font-stretch);
}

#menu-list-item-btns {
  display: flex;
  justify-content: center;
  width: 100%;
}

.menu-open {
  opacity: 1;
  pointer-events: all;
}

#menu-logout {
  margin-left: 26px;
  width: 48px;
  height: 48px;
  border: 0.8px solid var(--border-primary);
  padding: 2px;
  border-radius: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  position: fixed;
  bottom: 36px;
}
