.search {
  position: fixed;
  top: -57px;
  z-index: 1;
  display: flex;
  align-items: center;
  width: min(450px, 95%);
  padding-top: 18px;
  transition: transform 0.2s ease;
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  background: var(--background-transparent);
  border-end-end-radius: 20px;
  border-end-start-radius: 20px;
}

.search.active {
  transform: translateY(57px);
}

.search-box {
  width: 100%;
  display: flex;
  padding: 0 10px;
  border: 1.5px solid var(--border-primary);
  border-radius: 32px;
  box-shadow: var(--shadow-small);
}

.search-box button {
  display: flex;
  align-items: center;
  color: var(--cta);
}

.input-search {
  height: 36px;
  width: 100%;
  border-style: none;
  outline: none;
  color: var(--text);
  background: transparent;
}

.input-search::placeholder {
  color: var(--text-off);
}
