.search-box {
  position: fixed;
  top: -50px;
  z-index: 1;
  display: flex;
  align-items: center;
  width: min(450px, 95%);
  margin-top: 18px;
  transition: transform 0.2s ease-out;
}

.search-box.active {
  transform:  translateY(50px);
}


.input-search {
  height: 32px;
  width: 100%;
  border-style: none;
  outline: none;
  border-radius: 12px;
  padding-left: 10px;
  color: var(--text);
  background: var(--background-primary);
  border: 1.5px solid var(--border-primary);
}




.input-search::placeholder {
  color: var(--text-off);
}
