.theme-toggle-container {
  display: flex;
  border: 1.5px solid var(--border-primary);
  border-radius: 36px;
  padding: 5px;
}

.theme-toggle-container > :first-child {
  margin-right: 6px;
}

.theme-toggle-container > :last-child {
  margin-left: 6px;
}

.theme-toggle-btn {
  display: flex;
  color: var(--text);
  padding: 7px;
  border-radius: 50%;
}

.selected {
  background: var(--background-tertiary);
}
