.training-with-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  transition: 0.25s ease-in-out;
}

.buttons-container {
  display: flex;
  transition: 0.25s ease-in-out;
}

.action-btn-default {
  width: 0px;
  padding: 0;
  overflow: hidden;
  transition: 0.25s ease-in-out;
}

.action-btn-swiped {
  width: 60px;
}

/* swipe styles */
.swiped {
  transform: translateX(-100px);
}
