.training-with-buttons {
  width: 99%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 16px;
  transition: 0.25s ease-in-out;
}

.buttons-container {
  display: flex;
  height: 100%;
  position: absolute;
  right: -101px;
  transition: 0.25s ease-in-out;
}

.action-btn-default {
  width: 50px;
  border-left: none;
  box-shadow: none;
  transition: 0.25s ease-in-out;
}

/* swipe styles */
.swiped {
  transform: translateX(-150px);
}
