table {
  /* this is necessary on mobile to prevent border collapsing in table */
  width: calc(100% - 2px);
  padding: 8px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
}

@media only screen and (min-width: 560px) {
  table {
    width: 100%;
  }
}

.table-swiped {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

th {
  text-align: left;
}

.border-bottom {
  border-bottom: 0.5px solid #eaeaea;
  padding-bottom: 8px;
}

.date-header {
  padding-top: 6px;
}

.label-header {
  font-weight: 400;
  padding-top: 16px;
}

#exerciseLabel {
  width: 99.5px;
}

#weightLabel {
  padding-top: 16px;
}

#exercise {
  width: 130px;
  overflow-wrap: anywhere;
}

#weight {
  width: 90px;
  overflow-wrap: anywhere;
}

#repetitions {
  width: 90px;
  overflow-wrap: anywhere;
}
