.trainings {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: calc(var(--header-height) + 18px);
  padding-bottom: var(--bottom-bar-height);
  overflow-y: scroll;
}

.date-range {
  display: flex;
  align-items: center;
  width: min(450px, 97%);
  margin-bottom: 14px;
}

.date-range-text {
  font-size: var(--font-size-date);
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section > * {
  margin-bottom: 26px;
}
