.month-indicator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(450px, 95%);
  padding: 22px 0;
  cursor: pointer;
}

.month-indicator-text {
  color: var(--text);
  font-size: 16px;
  font-weight: 550;
  font-stretch: 110%;
}


