.training-list {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: calc(var(--header-height));
  overflow-y: scroll;
}

.training-list > section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}

.training-group-separator {
  width: min(450px, 95%);
}
