table {
  width: 100%;
  padding: 8px 12px;
  color: #8a8f98;
  background: var(--background-gradient);
  border: 1px solid var(--border);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  cursor: pointer;
  scroll-snap-align: start;
}

th {
  color: #fefefe;
  text-align: left;
}

.border-bottom {
  border-bottom: 0.5px solid #232323;
  padding-bottom: 8px;
}

.date-header {
  color: var(--text-2);
  font-weight: 200;
}

.label-header {
  color: var(--text-2);
  font-weight: 400;
  padding-top: 16px;
  padding-bottom: 6px;
}

#headline {
  color: var(--text-2);
  margin-top: 8px;
}

#exercise {
  color: var(--text-3);
  width: 55px;
  padding-right: 8px;
  overflow-wrap: anywhere;
}

#weight {
  color: var(--text-3);
  width: 30px;
  padding-right: 8px;
  overflow-wrap: anywhere;
}

#repetitions {
  color: var(--text-3);
  width: 60px;
  padding-right: 8px;
  overflow-wrap: anywhere;
}

#change {
  color: var(--text-3);
  width: 25px;
  overflow-wrap: anywhere;
}
