.trainings {
  width: 100%;
  position: fixed;
  top: var(--header-height);
  bottom: var(--bottom-bar-height);
  overflow-y: scroll;
  padding-top: 24px;
  /* last training bottom margin is added on this */
  padding-bottom: 24px;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section > * {
  margin-bottom: 24px;
}
