table {
  /* this circumvents the collapse of the right border on mobile */
  width: 99.5%;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

th {
  text-align: left;
}

.pointer {
  cursor: pointer;
}

.date-header {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

.label-header {
  font-weight: 400;
}

#exerciseLabel {
  width: 99.5px;
}

#weightLabel {
  padding: 0 10px;
}

#exercise {
  width: 130px;
  overflow-wrap: anywhere;
}

#weight {
  padding: 0 10px;
  width: 90px;
  overflow-wrap: anywhere;
}

#repetitions {
  width: 90px;
  overflow-wrap: anywhere;
}
