.trainings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* header height */
  margin-top: 43px;
  /* bottom bar height */
  margin-bottom: 114px;
  padding-top: 24px;
  /* last training bottom margin is added on this */
  padding-bottom: 24px;
}
