#volume-over-time {
  height: 200px;
  width: min(800px, 98%);
  margin-top: var(--header-height);
}

#exercise-select {
  width: 140px;
}

#selects {
  width: 100%;
  display: flex;
  margin: 30px 0;
  justify-content: center;
}

.select-section {
  display: flex;
  flex-direction: column;
}

#selects label {
  color: var(--text-off);
  margin-bottom: 12px;
}

#selects select {
  padding: 8px;
  outline: none;
  font-size: 17px;
  margin-bottom: 20px;
  border-radius: 12px;
  color: var(--text);
  background-color: var(--background-primary);
  border: 1.5px solid var(--border-secondary);
}

#exercise-select {
  margin-right: 80px;
}
